div.ItemDetailContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 20px; 
}

.descripcion {
    margin: 10px 20px;
}

.CardDetail {
    height: 700px;
}