.CardItem {
    width: 250px;
    height: 450px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 10px;
    background-color: rgb(0, 0, 0);
    border: 2px solid #fff065;
    border-radius: 10px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px;
}

.ListGroup {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

picture.imageContainer {
    width: 200px;
    height: 250px;
    overflow: hidden;
}

img.ItemImg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.ItemHeader {
    margin: 0;
    font-size: large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #fff065;
}

.Info,
.Option {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: whitesmoke;
}

.ItemFooter .Option {
    background-color: rgba(245, 27, 209, 1);
    border-radius: 5px;
    padding: 8px;
}

p.info {
    align-self: center;
}

@media (min-width: 750px) {
    .CardItem {
        width: 350px;
        height: 580px;
    }

    .ListGroup {
        margin-bottom: 50px;
    }

    picture.imageContainer {
        width: 300px;
        height: 350px;
    }

    .ItemHeader {
        font-size: x-large;
    }
}