nav {
    padding: 10px 5px;
    background-color: black;
}

h1 {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bold;
    padding: 5px;
    color: whitesmoke;
}

h1:hover{
    color: rgba(245,27,209,1);
}

.Category a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: x-small;
    color: rgba(245, 245, 245, 0.911);
    padding: 10px;
}

.Category a:hover {
    color:rgba(255,240,101,1);
}

div.Category {
    display: flex;
    justify-content: center;
}

@media (min-width: 750px) {    
    .NavBar {
        width: 1200px;
    }

    h1 {
        font-size: x-large;
    }
        
    .Category a {
        font-size: larger;
        font-weight: bold;
        padding: 10px;
        margin-inline: 10px;
    }
}

