div.Controls {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    color: whitesmoke;
    padding-bottom: 10px;
}
div.Counter button {
    background-color: rgba(245,27,209,1);
    border-radius: 3px;
    border: 0;
    padding: 10px;
}

.botonAgregar {
    color: whitesmoke;
    text-align: center;
    font-size: medium;
    height: 40px;
}

.botonAgregar:hover {
    color: rgb(41, 40, 40);
}

